<form action="/updated" method="get">
	<input type="text" name="c" value="this.name">
	<input type="number" name="reps" value="this.name">
	<input type="number" name="weight" value="this.name">
	<input type="date" name="date" value="this.name">
	<select name="lbs" value="this.lbs>
		<option value="0">metric</option>
		<option value="1">imperial</option>
	</select>
	<button>Update</button>
</form>
